<head>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

@{
    ViewBag.Title = "Home Page";
}

@using FormMethod = Microsoft.AspNetCore.Mvc.Rendering.FormMethod
@model IEnumerable<RegistrationApp_4_5_2.Data.Entities.User>

@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    function CheckAvailability() {
        var param = $("#FullName").val();
        $.ajax({
            type: "POST",
            url: "/Home/CheckFullNameAsync",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "json",
            data: { fullName: param },
            success: function (response) {
                var message = $("#message");
                if (response) {
                    message.css("color", "red");
                    message.html("Full name is already exist");
                    $('#submit').attr('disabled', 'disabled');
                }
                else {
                    message.css("color", "green");
                    message.html("Full name is available");
                    $('#submit').removeAttr('disabled');
                }
            }
        });
    };
    function ClearMessage() {
        $("#message").html("");
    };
</script>

<div>
    @{
        ViewData["Title"] = "RegisterUser";
    }

    <div class="register-card">
        <h1>Register the new user</h1>
        @using (Html.BeginForm("CreateUserAsync", "Home", FormMethod.Post))
        {
            <div>
                @Html.Label("FullName", "Enter your full name")
                <input type="text" id="FullName" name="FullName" pattern="^(\w\w+)\s(\w+)\s(\w+)$" onblur="CheckAvailability()" required />
                <span id="message" onclick="ClearMessage()"></span>
            </div>

            <div>
                @Html.Label("Age", "Enter your age")
                <input type="number" id="Age" name="Age" min="16" max="110" required />
            </div>

            <div>
                @Html.Label("City", "Enter your city")
                <input type="text" id="City" name="City" required />
            </div>

            <div>
                @Html.Label("Email", "Enter your email")
                <input type="email" id="Email" name="Email" />
            </div>

            <div>
                @Html.Label("PhoneNumber", "Enter your phone number")
                <input type="tel" id="PhoneNumber" name="PhoneNumber" pattern="^\+38\d{3}\d{7}$" value="+38" maxlength="13" />
            </div>

            <p><input type="submit" value="Send" id="submit" /></p>
        }
    </div>
</div>
<div class="row">
    <h1>List of registered users</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.ActionLink("Id", "Index", new { sortingProp = ViewBag.IdSortParm })</th>
                    <th>@Html.ActionLink("FullName", "Index", new { sortingProp = ViewBag.NameSortParm })</th>
                    <th>@Html.ActionLink("Age", "Index", new { sortingProp = ViewBag.AgeSortParm })</th>
                    <th>@Html.ActionLink("City", "Index", new { sortingProp = ViewBag.CitySortParm })</th>
                    <th>@Html.ActionLink("Email", "Index", new { sortingProp = ViewBag.EmailSortParm })</th>
                    <th>@Html.ActionLink("PhoneNumber", "Index", new { sortingProp = ViewBag.PhoneNumberSortParm })</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    if (user == Model.Last())
                    {
                        <tr bgcolor="red">
                            <td>@Html.DisplayFor(model => user.Id)</td>
                            <td>@Html.DisplayFor(modeluser => user.FullName)</td>
                            <td>@Html.DisplayFor(modeluser => user.Age)</td>
                            <td>@Html.DisplayFor(modeluser => user.City)</td>
                            <td>@Html.DisplayFor(modeluser => user.Email)</td>
                            <td>@Html.DisplayFor(modeluser => user.PhoneNumber)</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => user.Id)</td>
                            <td>@Html.DisplayFor(modeluser => user.FullName)</td>
                            <td>@Html.DisplayFor(modeluser => user.Age)</td>
                            <td>@Html.DisplayFor(modeluser => user.City)</td>
                            <td>@Html.DisplayFor(modeluser => user.Email)</td>
                            <td>@Html.DisplayFor(modeluser => user.PhoneNumber)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

